@model CourseViewModel
@{
    ViewData["Title"] = Model.Name;
}
<div class="text-center">
    <div class="row justify-content-between">
        <div class="col-sm-auto">
            <h1 class="display-5">
                <i>@ViewData["Title"]</i>
            </h1>
        </div>
        <div class="col-sm-auto mt-3">
            @{
                if (User.IsTeacher())
                {
                    <div class="row">
                        <div class="col-sm-auto">
                            <a asp-controller="Course" asp-action="Edit" 
                            asp-route-courseId="@Model.Id" 
                            class="btn btn-primary">Edit</a>
                        </div>
                        <div class="col-sm-auto">
                            <a asp-controller="Lesson" asp-action="Add" 
                            asp-route-courseId="@Model.Id" 
                            class="btn btn-dark">Add Lesson</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
            
    <hr/>
    @{
        if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="justify-content-md-between">
                <h3 class="fst-italic bg-black bg-opacity-10">@Model.Description</h3>
            </div>
        }
    }
    <hr/>
    <div class="list-group">
    @{
        foreach(var lesson in Model.Lessons)
        {
            <a asp-controller="Lesson" asp-action="GetLesson"
            asp-route-id="@lesson.Id" asp-route-lessonName="@lesson.GetNameUrl()"
            class="list-group-item list-group-item-action fs-2">@lesson.Name
            </a>
            <br />
        }
    }
    </div>
</div>