@model UserAccountViewModel;
<hr />
@{
    if (Model.Lessons.AccountCategories.Count > 0) {
        <h3 class="fw-normal">This teacher is the author of the following lessons:</h3>        
    }
    <br />
    foreach (AccountCategoryViewModel category in Model.Lessons.AccountCategories)
    {
        <a asp-controller="Category" asp-action="GetById"
        asp-route-id="@category.Id" asp-route-categoryName="@category.GetNameUrl()">@category.Name
        </a>
        foreach (AccountCourseViewModel course in Model.Lessons.AccountCourses
                                                    .Where(c => c.CategoryId.Equals(category.Id)))
        {
            <div>- <a asp-controller="Course" asp-action="GetCourse"
                    asp-route-id="@course.Id" asp-route-courseName="@course.GetNameUrl()">@course.Name</a>
            </div>
            foreach (AccountLessonViewModel lesson in Model.Lessons.AccountLessons
                                                        .Where(l => l.CourseId.Equals(course.Id)))
            {
                <div>-- <a asp-controller="Lesson" asp-action="GetLesson"
                        asp-route-id="@lesson.Id" asp-route-lessonName="@lesson.GetNameUrl()">@lesson.Name</a>
                </div>
            }
        }
    }
}