@model CategoryViewModel
<div class="text-center">
    <h2>@Model.Name</h2>
    @{
        if (User.IsTeacher())
        {
            <a asp-controller="Category" asp-action="Remove" asp-route-id="@Model.Id" class="link-danger">Remove</a>
            <a asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Id" class="link-dark">Edit</a>
        }
    }

    <hr/>
    @{
        if (User.IsTeacher())
        {
            <a asp-controller="Course" asp-action="Add" asp-route-id="@Model.Id">Add New Course</a>
        }
    }
    <br/>
    @{
        foreach (var course in Model.Courses)
        {
            <p><a asp-controller="Course" asp-action="GetCourse"
            asp-route-id="@course.Id" asp-route-courseName="@course.GetNameUrl()"
            class="link-dark">@course.Name</a></p>
        }
    }
</div>