@model LessonViewFormModel
@{
    ViewData["Title"] = "Edit Lesson: " + Model.Name;
}
<div class="align-content-sm-center">
    <h1 class="text-black">@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <form asp-controller="Course" asp-action="Edit" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.Name" class="form-label-add-edit">Name:</label>
                    <input asp-for="@Model.Name" placeholder="@Model.Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Description" class="form-label-add-edit">Description:</label>
                    <input asp-for="@Model.Description" placeholder="@Model.Description" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.CourseId" class="form-label-add-edit">Courses</label>
                    <select asp-for="@Model.CourseId" class="form-control" aria-required="true">
                        @{
                            string defaultCourse
                            = string.Join("", Model
                            .Courses
                            .Where(c => c.Id.Equals(Model.CourseId))
                            .Select(c => c.Name)
                            .FirstOrDefault()
                            .ToString());
                        }
                        <option value="@Model.CourseId" selected>@defaultCourse</option>
                        @foreach (var course in Model.Courses)
                        {
                            if (course.Id == Model.CourseId) { continue; }
                            <option value="@course.Id">@course.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.CourseId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Edit" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}