@model LessonViewModel
@{
    ViewData["Title"] = "View Lesson by Id";
}
<div class="text-center">
    <a asp-controller="Course" asp-action="GetCourse" asp-route-id="@Model.CourseId" >Back to course</a>
    <hr/>
    <h1 class="display-4">@Model.Name</h1>
    @{
        if (User.IsTeacher())
        {
            <a asp-controller="Lesson" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a asp-controller="Lesson" asp-action="Remove" asp-route-id="@Model.Id" class="link-danger">Remove</a>
        }
    }
    <br/>
    <p>@Model.Description</p>
    <hr/>
    @{
        if (User.IsTeacher())
        {
            <p>
                <a asp-controller="LearningMaterial" asp-action="Upload" asp-route-id="@Model.Id">Add new learning material</a>
            </p>
            <hr />
        }
    }
    
    @{
        foreach (var lm in Model.LearningMaterials)
        {
            <a asp-controller="LearningMaterial" asp-action="ShowLearningMaterial"
               asp-route-id="@lm.Id" asp-route-linkname="@lm.GetNameURL()">
                @lm.Title
            </a>
            <br />
        }
    }
</div>
