@model LessonViewModel
@inject IRoleService roleService;
@{
    ViewData["Title"] = "Lesson: " + Model.Name;
}
<a asp-controller="Course" asp-action="GetCourse" 
asp-route-id="@Model.CourseId" asp-route-courseName="@Model.CourseName">Back to course</a>
<hr/>
<div class="text-center">
    <div class="row justify-content-between">
        <div class="col-sm-auto">
            <h1 class="display-6"><i>@Model.Name</i></h1>
        </div>
        <div class="col-sm-auto mt-3">
            @{
                if (await roleService.IsTeacherRole())
                {
                    <div class="row">
                        <div class="col-sm-auto">
                           <a asp-controller="Lesson" asp-action="Remove"
                            asp-route-lessonId="@Model.Id" class="btn btn-danger">Remove</a>
                        </div>
                        <div class="col-sm-auto">
                           <a asp-controller="Lesson" asp-action="Edit"
                           asp-route-lessonId="@Model.Id" class="btn btn-primary">Edit</a>
                        </div>
                        <div class="col-sm-auto">
                            <a asp-controller="LearningMaterial" asp-action="Upload"
                            asp-route-lessonId="@Model.Id" class="btn btn-dark">Add new learning material</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <br/>
    <div class="container-sm">
        @{
            if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <hr />
                <h3 class="p-2 pt-3 pb-3 fst-italic bg-dark bg-opacity-10">@Model.Description</h3>
            }
        }
        <hr />
        <div class="container w-50 justify-content-center">
            <div class="list-group">
                @{
                    if (!Model.LearningMaterials.Any())
                    {
                        <h3>No resources were uploaded for this lesson!</h3>
                    } else
                    {
                        foreach (var lm in Model.LearningMaterials)
                        {
                            <a asp-controller="LearningMaterial" asp-action="ShowLearningMaterial"
                            asp-route-id="@lm.Id" asp-route-linkname="@lm.GetNameURL()"
                            class="list-group-item list-group-item-secondary list-group-item-action fs-4">
                                @lm.Title
                            </a>
                        }
                    }

                    
                }
            </div>
        </div>
    </div>
    
    <div class="container text-start pt-5">
        @{
            if (Model.Teachers.Count > 0)
            {
                <h4>Teachers who have contributed to this lesson:</h4>
                <div class="row">
                @{
                    foreach (TeacherForLessonModel teacher in Model.Teachers)
                    {
                        <div class="text-body mb-3 fst-italic fs-5 ps-4">
                                @teacher.FirstName @teacher.MiddleName @teacher.LastName (
                                <a asp-controller="Account" asp-action="GetProfile" asp-route-username="@teacher.UserName">
                                <i>@@@teacher.UserName</i>
                                </a>)
                        </div>
                    }
                }
                </div>
            }
        }    
    </div>
</div>
